p {
  font-family: Lato;
}

.scan-button {
  background-color: #ffffff00; /* Transparent */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.camera-style {
  width: 100vw;
  height: 100vh;
  position: fixed;
  object-fit: cover;
}

.md-button.md-fab.md-mini {
  line-height: 4rem;
  width: 4rem;
  height: 4rem;
}